.blue-cta{
    margin-top: 50px;
    background-color: #0D28A6;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 80px;
    .btn{
        margin-top: 50px;
    }
    h4{
        margin-bottom: 20px;
    }
}