.top-menu{
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(241,243,255,0.5);
    backdrop-filter: blur(5px);
    .logo{
        font-weight: 800;
        padding: 15px 0px;
        a{
            color: #0d28a6;
        }
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        .list-menu{
            font-size: 14px;
            padding: 15px 0px 15px 30px;
            a{
                color: #000;
            }
        }
    }
    .burger-menu{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .top-menu{
        .logo{
            padding-top: 20px;
        }
        .menu{
            display: none;
        }
        .burger-menu{
            display: flex;
            justify-content: flex-end;
            padding-top: 15px;
            span{
                cursor: pointer;
                color: #0d28a6;
            }
        }
        .menu-mobile{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: right;
            height: 100vh;
            margin-top: 30px;
            width: 100%;
            .list-menu{
                font-size: 18px;
                border-bottom: 1.5px dotted #999;
                padding: 20px 0px;
            }
        }
    }
}