.top-menu{
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(241,243,255,0.5);
    backdrop-filter: blur(5px);
    .logo{
        font-weight: 800;
        padding: 15px 0px;
        a{
            color: #0d28a6;
        }
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        .list-menu{
            font-size: 14px;
            padding: 15px 0px 15px 30px;
            a{
                color: #000;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .top-menu{
        .menu{
            display: none;
        }
    }
}