.filter-cars{
    box-shadow: -2px 2px 22px -7px rgba(0,0,0,0.42);
    -webkit-box-shadow: -2px 2px 22px -7px rgba(0,0,0,0.42);
    -moz-box-shadow: -2px 2px 22px -7px rgba(0,0,0,0.42);
    //background-color: #fff;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    .filter-forms{
        display: flex;
        column-gap: 10px;
        justify-content: space-between;
        .form-control,.form-select,.btn{
            width: 200px;
        }
        .btn{
            height: 40px;
            margin-top: 30px;
        }
    }
}
.car-list{
    .car-item{
        border: 1px solid #dedede;
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        .car-image{
            padding: 30px;
            height: 200px;
            overflow-y: hidden;
        }
    }
}