@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$success: #5CB85F;

@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Poppins', sans-serif;
  color: #666;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #666;
}
p,li{
  font-size: 14px;
  line-height: 24px;
}
.container{
  max-width: 1140px;
}
.btn{
    color: #fff;
}
.btn:hover{
    color: #fff;
}