.footer{
    padding: 50px 0px;
    border-top: 1px solid #dedede;
    margin-top: 80px;
    .footer-link{
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .footer-logo{
        h4{
            font-weight: 800;
        }
    }
    .social-connect{
        .item-connect{
            display: flex;
            column-gap: 10px;
        }
    }
}